:root{
    --bg-main-color: radial-gradient(circle at 17% 77%, rgba(17, 17, 17, 0.04) 0%, rgba(17, 17, 17, 0.04) 50%, rgba(197, 197, 197, 0.04) 50%, rgba(197, 197, 197, 0.04) 100%), radial-gradient(circle at 26% 17%, rgba(64, 64, 64, 0.04) 0%, rgba(64, 64, 64, 0.04) 50%, rgba(244, 244, 244, 0.04) 50%, rgba(244, 244, 244, 0.04) 100%), radial-gradient(circle at 44% 60%, rgba(177, 177, 177, 0.04) 0%, rgba(177, 177, 177, 0.04) 50%, rgba(187, 187, 187, 0.04) 50%, rgba(187, 187, 187, 0.04) 100%), linear-gradient(19deg, rgb(28, 117, 250), rgb(34, 2, 159));

}

.header-container{
    background-image: var(--bg-main-color);
}
.package{
    background-image: var(--bg-main-color);
}

@keyframes bgAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .b-area, .package {
    background: linear-gradient(45deg, #3498db, #8e44ad);
    background-size: 400% 400%;
    animation: bgAnimation 8s ease-in-out infinite;
  }


  .package {
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .package:hover {
    background-color: #2b6cb0; /* Updated hover background color */
    box-shadow: 5px 5px 20px 0.5px rgb(6, 26, 151), -10px -10px 30px 0.5px rgb(6, 23, 129);
  }


  .service-card:hover {
    background-color: #f0f0f0; /* Adjust hover background color */
    transform: scale(1.05); /* Adjust hover scale */
  }


  .service-card {
    transition: background-color 0.3s, transform 0.3s;
  }

